<template>
    <div>
        <div class="Polaris-Card" v-if="!isLoading">
            <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Review the pre-install checklist</h2>
            </div>
            <div class="Polaris-Card__Section">
                <div class="d-flex before-install-content">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, </p>
                </div>
                <p>pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker</p>

                <router-link class="Polaris-Button Polaris-Button--primary" type="button" :to="{name :'connect', params: { shopname: shop.name}}">
                        <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text" >Continue</span>
                        </span>
                </router-link>
            </div>

        </div>


    </div>
</template>

<script>
import helper from "../../../Helper";
import instance from "../../../axios";
export default {
    name: "BeforeInstall",
    data(){
        return{
            isLoading: true,
            shop: [],
        }
    },
    methods:{
        async getData(){
            let base = this;
            helper.startLoading();
            base.isLoading = true;
            await instance.get('/get-logindata')
                .then(res => {
                    let data = res.data.data;
                    base.shop = data.shop;
                    if(data.shop.is_synced){
                        this.$router.push('status');
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.isLoading = false;
                    helper.stopLoading();
                });
        }
    },
    created(){
        this.getData();
    }
}
</script>

<style scoped>

</style>
