<template>
    <div>
        <div class="Polaris-Card">
            <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Connect to Growlytics</h2>
            </div>
            <div class="Polaris-Card__Section">
                <div class="d-flex before-install-content">
                    <p>Click on below button to connect growlytics account with shopify</p>
                </div>
                <div class="">
                    <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label"><label id="PolarisTextField2Label" for="PolarisTextField2" class="Polaris-Label__Text">Growlytics Api Key</label></div>
                    </div>
                    <div class="Polaris-Connected">
                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                            <div class="Polaris-TextField Polaris-TextField--hasValue">
                                <input id="PolarisTextField2" autocomplete="off" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField2Label" aria-invalid="false" v-model="growlytics_key">
                                <div class="Polaris-TextField__Backdrop"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="Polaris-Button Polaris-Button--primary" :class="{'Polaris-Button--disabled' : ( growlytics_key == '' )}" type="button" @click="connectGrowlytics()">
                    <span class="Polaris-Button__Content">
                        <span class="Polaris-Button__Text">Connect</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>

import helper from "../../../Helper";
import instance from "../../../axios";

export default {
    name: "Connect",
    data(){
        return{
            isConnect: true,
            shopname: '',
            growlytics_key: '',
            connectData: []
        }
    },
    methods:{
        async connectGrowlytics(){
            let base = this;
            helper.startLoading();
            base.isLoading = true;
            await instance.post('/connect-account', {data: {key: base.growlytics_key}})
                .then(res => {
                    let data = res.data.data;
                    if(data.success){
                        helper.successToast('Connection successful');
                        base.connectData = data.data;
                        let d = base.connectData;
                        base.$router.push({name: 'sync', params: {d}});
                    }else{
                        helper.errorToast(data.message);
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.isLoading = false;
                    helper.stopLoading();
                });
        },

    },
    mounted(){
        this.shopname = (typeof this.$route.params.shopname != 'undefined') ? this.$route.params.shopname : '';
    },
}
</script>

<style scoped>

</style>
