<template>
    <div>
        This is sync page

        <button class="Polaris-Button Polaris-Button--primary" :class="{'Polaris-Button--disabled' : ( isLoading )}" type="button" @click="sync()">
                <span class="Polaris-Button__Content">
                    <span class="Polaris-Button__Text">Start Sync</span>
                </span>
        </button>
    </div>
</template>

<script>
import helper from "../../../Helper";
import instance from "../../../axios";

export default {
    name: "Sync",
    data(){
        return {
            connectData: [],
            isLoading: false,
        }
    },
    methods:{
        async sync(){
            let base = this;
            helper.startLoading();
            base.isLoading = true;
            await instance.post('/sync-account', {data: base.connectData})
                .then(res => {
                    let data = res.data.data;
                    if(data.success){
                        helper.successToast('Sync successful');
                        base.$emit('update');
                        base.$router.push('status');
                    }else{
                        helper.errorToast('Sync failed');
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.isLoading = false;
                    helper.stopLoading();
                });
        }
    },
    mounted(){
        this.connectData = this.$route.params.d;
    }
}
</script>

<style scoped>

</style>
