// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body .Polaris-Button--primary{
    background: #008060;
    border-color: #008060;
}
body .Polaris-Button--primary:hover{
    background: #008060;
    border-color: #008060;
}
body .Polaris-Tabs__Tab.Polaris-Tabs__Tab--selected .Polaris-Tabs__Title {
    border-bottom: var(--p-override-none, 0.3rem) solid #008060;
}
.Polaris-Button--primary{
    --p-action-primary:#008060;
    --p-text-on-primary:#008060;
    -p-action-primary-hovered:#008060;
    --p-action-primary:#008060;
}
.Polaris-Button--primary {
    --p-button-color: var(--p-action-primary);
    --p-button-text: var(--p-text-on-primary);
    --p-button-color-hover: var(--p-action-primary-hovered);
    --p-button-color-active: var(--p-action-primary-pressed);
    --p-button-color-depressed: var(--p-action-primary-depressed);
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    border-color: #3f4eae;
    box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgb(22 29 37 / 5%), 0 0 0 0 transparent;
    color: white;
}
.growlytics-app-content{
    padding: 20px;
}
