.Polaris-Button--primary{
    background: linear-gradient(to bottom, #6371c7, #5563c1);
}
.Polaris-Button--primary{
    --p-action-primary:#008060;
}

.Polaris-Button--primary {
    --p-button-color: var(--p-action-primary);
    --p-button-text: var(--p-text-on-primary);
    --p-button-color-hover: var(--p-action-primary-hovered);
    --p-button-color-active: var(--p-action-primary-pressed);
    --p-button-color-depressed: var(--p-action-primary-depressed);
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    border-color: #3f4eae;
    box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgb(22 29 37 / 5%), 0 0 0 0 transparent;
    color: white;
}
