<template>
    <div>
        <div v-if="!isLoading" class="Polaris-Card">
            <div v-if="isSuccess" class="Polaris-Card__Section">
                <div class="growlytics-content">
                    <p><b>PRODUCTS ({{statusData.products}})</b></p>
                    <div class="growlytics-progress"></div>
                </div>
                <div class="growlytics-content">
                    <p><b>CUSTOMERS ({{statusData.customers}})</b></p>
                    <div class="growlytics-progress"></div>
                </div>
                <div class="growlytics-content">
                    <p><b>ORDERS ({{statusData.orders}})</b></p>
                    <div class="growlytics-progress"></div>
                </div>
            </div>
            <div v-else class="growlytics-error">
                <p class="error">{{failureMessage}}</p>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../../Helper";
import instance from "../../../axios";

export default {
    name: "Status",
    data(){
        return{
            statusData: [],
            isLoading: true,
            isSuccess: true,
            failureMessage: ''
        }
    },
    methods:{
        async getData(){
            let base = this;
            helper.startLoading();
            base.isLoading = true;
            await instance.get('/sync-status')
                .then(res => {
                    let data = res.data.data;
                    if(data.success){
                        base.isSuccess = true;
                        base.statusData = data.data;
                    }else{
                        base.isSuccess = false;
                        base.failureMessage = data.message;
                        // helper.errorToast(data.message);
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.isLoading = false;
                    helper.stopLoading();
                });
        },

    },
    mounted(){
        this.getData();
    },
}
</script>

<style scoped>
.error{
    color: red;
}
.growlytics-progress{
    height: 20px;
    width: 50%;
    background-color: #66b1b1;
    border-radius: 5px;
}
.growlytics-content p {
    margin-bottom: 10px;
}
.growlytics-content div {
    margin-bottom: 20px;
}
.growlytics-error{
    padding: 20px;
}
</style>
