<template>
    <div class="growlytics-app">
        <menus ref="growlyticsmenu"></menus>
        <div id="Polaris-Main" class="growlytics-app-content">
            <router-view @update="changeMenu"></router-view>
        </div>
    </div>
</template>

<script>

import Menus from "./menu";

export default {
    name: "LayoutIndex",
    components: {
        Menus,
    },
    methods: {
        changeMenu(){
            this.$refs.growlyticsmenu.getData();
            console.log('changeMenu');
        }
    }
}
</script>

<style scoped>

</style>
