<template>
    <div class="Polaris-Tabs__Wrapper navigation-bar" v-if="!isLoading">
        <ul role="tablist" class="Polaris-Tabs desktop-menu">
            <li  role="presentation" class="Polaris-Tabs__TabContainer" v-for="item in items">
                <router-link :class="activeClass(item.name)" :to="{name :item.name}" tag="button" class="Polaris-Tabs__Tab" v-if="isSynced == item.isBeforeInstall && item.isClickable">
                    <span class="Polaris-Tabs__Title">{{ item.title }}</span>
                </router-link>
                <button class="Polaris-Tabs__Tab" v-else-if="isSynced == item.isBeforeInstall && !item.isClickable" :class="activeClass(item.name)">
                    <span class="Polaris-Tabs__Title">{{ item.title }}</span>
                </button>
            </li>
        </ul>
    </div>
</template>

<script>
import helper from "../../Helper";
import instance from "../../axios";

export default {
    name: "Menus",
    data(){
        return{
            items: [],
            isLoading: true,
            isSynced: true,
        }
    },
    methods: {
        activeClass: function (...names) {
            for (let name of names) {
                if ( name == this.$route.name){
                    return 'Polaris-Tabs__Tab--selected';
                }
            }
        },
        async getData(){
            let base = this;
            helper.startLoading();
            base.isLoading = true;
            await instance.get('/get-logindata')
                .then(res => {
                    let data = res.data.data;
                    base.isSynced = !data.shop.is_synced;
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    base.isLoading = false;
                    helper.stopLoading();
                });
        }
    },
    created() {
        let base = this;
        this.$router.options.routes.forEach(route  => {
            if(route.meta.ignoreInMenu == 0){
                this.items.push({
                    title: route.meta.title,
                    name: route.name,
                    path: route.path,
                    dafaultActiveClass: route.meta.dafaultActiveClass,
                    isBeforeInstall: route.meta.isBeforeInstall,
                    isClickable: route.meta.isClickable,
                })
            }
        });

        this.getData();
    },
}
</script>

<style scoped>

</style>
